.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageContainer, .MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageContainer button, .icon-button {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
}

.TitleHeader {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.icon-button {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

.icon-button:hover {
  background-color: #f0f0f0;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.text {
  flex: 1;
  text-align: left;
}

.recordGameCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  font-family: Arial, sans-serif;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.player-card.expanded {
  max-height: 500px;
  transition: max-height 0.2s ease;
}

.player-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.player-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.player-stats p {
  margin: 5px 0;
  font-size: 1em;
  line-height: 1.5;
}

.edit-form {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  font-family: Arial, sans-serif;
  color: #333;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input {
  width: calc(100% - 20px);
  padding: 5px;
  margin-top: 5px;
}

.edit-form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form button:first-of-type {
  background-color: #007bff;
  color: white;
}

.edit-form button:last-of-type {
  background-color: #ccc;
}

.player-card.selected {
  border: 2px solid green;
}